[core]
	excludesfile = ~/.gitignore_global
	editor = emacsclient -t -a=\\\"\\\"
[hub]
  protocol = git
[user]
	name = Paul Kalupnieks
	email = paul@karrupa.com
	signingkey = 1492966B071DEDA6
[push]
	default = simple
[init]
  templatedir = ~/.git_template
[alias]
  ctags = !.git/hooks/ctags
  pub = "!f() { git push -u ${1:-origin} `git symbolic-ref HEAD`; }; f"
[mergetool]
  keepBackup = true
	prompt = false
[rerere]
  enabled = true
[diff]
	compactionHeuristic = true
[magit]
	hideCampaign = true
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
