[submodule "the-one-theme"]
	path = the-one-theme
	url = https://github.com/benniemosher/the-one-theme/
[submodule "doom-emacs/.emacs.d"]
	path = doom-emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs.git
[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
